<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link href="images/logo-white/favicon.png" rel="icon">
    <title>Homepage</title>
    <link rel="stylesheet" href="plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src=" https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</head>
<body>
    <div class="header--sidebar"></div>
    <%- include('static/header',{userlogin : user ? user.userName : ''}) %>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ul class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ul>
            <div class="carousel-inner" style="height: 280px;">
                <div class="item active">
                    <img class="bannerimg" src="/images/banner/b1.jpg" alt="Banner-1" style="height: 280px;">
                </div>

                <div class="item">
                    <img class="bannerimg" src="/images/banner/b2.jpg" alt="Banner-2" style="height: 280px;">
                </div>

                <div class="item">
                    <img class="bannerimg" src="/images/banner/b3.jpg" alt="Banner-3" style="height: 280px;">
                </div>
            </div>
        </div><br>
        <center>
            <h3>-- Books --</h3>
        </center>
        <br>
        <div>
            <div class="row" style="margin: 1rem; display: flex; justify-content: center;">
                <% for(j=0; j < productObject.length; j++){ %>
                    <div class="col-md-3" style="border:1px solid;margin:1rem;padding:1rem;width: 23%;">
                        <a href="<%= '/product/'+productObject[j]._id%>">
                            <div style="width: 100%;height: 200px;">
                                <img src="<%= productObject[j].Image %>" alt="<%= productObject[j].Title %>" style="height: 100%;object-fit: contain;width: 100%;">
                            </div>
                        </a>
                        <br>
                        <div style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                            <a href="<%= '/product/'+productObject[j]._id%>"><%= productObject[j].Title %></a>
                            <p><%= productObject[j].Author %></p>
                            <span> 
                                <span style="color: green;"> ₹<%= productObject[j].Price %></span>
                            </span>
                            <div class="btn-add-to-cart-<%- productObject[j]._id%>">
                                <%
                                let isCart = cartDetails.find(x=> x.productID == productObject[j]._id)
                                if(isCart){
                                    %>
                                    <a href="/cart" class="btn btn-register signup-desktop-view" style="float: right;">view cart</a>
                                <% } else {%>
                                    <a class="btn btn-register signup-desktop-view" style="float: right;" <% if(user=='' ){ %> href="/register" <% } else{ %> onclick="addToCart('<%- productObject[j]._id%>')" <% } %>>Add To Cart</a>
                                <% } %>
                            </div>
                        </div>
                    </div>
                 <% } %>
            </div>
        </div>
    <br>
    <%- include("static/footer")%>
    <script type="text/javascript" src="plugins/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="plugins/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</body>

</html>