<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link href="images/logo-white/favicon.png" rel="icon">
    <title>Checkout</title>
    <link rel="stylesheet" href="plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src=" https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</head>
<body>
    <div class="header--sidebar"></div>
    <%- include('../static/header',{userlogin : user ? user.userName : ''}) %><br>
        <br>
        
            <% if(cartDetails.length){ %>
            <div class="card">
                <div class="container" style="background-color: #fff;">
                    <h4>Shiping Information</h4>
                    <%= user.userName%><br>
                    <%= user.userAddress%><br>
                    Contact : <%= user.userContact%>
                </div>
            </div>
            <table style="margin: 1rem;width: 100%;">
            <tr><td>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th><h4>Product</h4></th>
                            <th><h4>Price</h4></th>
                            <th><h4>Quantity</h4></th>
                            <th><h4>Total</h4></th>
                        </tr>
                    </thead>
                    <tbody>
                    <%
                    totalPrice = 0
                    for(i=0; i < cartDetails.length; i++){
                        product=productObject.find(x=>x._id==cartDetails[i].productID)
                        totalPrice += product.Price * cartDetails[i].quantity
                        %><tr>
                        <td>
                        <a href="<%= '/product/'+product._id %>">
                            <img src="<%= product.Image %>" alt="<%= product.Title %>" style="height: 60px;object-fit: contain;width: 60px;">
                            <%= product.Title %>
                        </a>
                        </td>
                        <td><span style="color: green;"> $<%= product.Price %></span></td>
                        <td><%= cartDetails[i].quantity%></td>
                        <td><span style="color: green;"> $<%= product.Price * cartDetails[i].quantity%></span></td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
                <h3>Total Price : $<span id="cartprice"><%= totalPrice.toFixed(2)%></span></h3>
            </td>
            <td style="width: 30%;vertical-align: baseline;"><br>
                <h4 style="left: 4vw; background-color: #7263e8; color: #fff; width: fit-content; padding: 5px;">Credit/Debit Card Details</h4>
                <form id="checkout" action="/orderproduct" method="post" style="padding: 1rem;">
                    <div class="form-group">
                        <label>Card Number :</label>
                        <input type="number" name="card" placeholder="card number" minlength="16" maxlength="16" required/>
                    </div>
                    <div class="form-group">
                        <label>Name on card :</label>
                        <input type="text" name="name" placeholder="Enter your name on card" required/>
                    </div>
                    <div class="form-group">
                        <label>Expiry date :</label>
                        <input type="text" id="expiry" name="expiry" placeholder="Expires on" required/>
                    </div>
                    <div class="form-group">
                        <label>CVV :</label>
                        <input type="password" name="cvv" placeholder="CVV" maxlength="3" minlength="3" required/>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-register signup-desktop-view" style="float: right;">Place Order</button>
                    </div>
                </form>
            </td>
            </tr>
            </table>
            <%} else{%>
                <center><a href="/">Please add items in cart</a></center>
            <% } %>
    <br>
    <%- include("../static/footer")%>
    <script type="text/javascript" src="plugins/jquery/dist/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="plugins/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script>
        $(document).ready(function(){
            $( "#expiry" ).datepicker({
                dateFormat: "mm/yy"
            });
            $('#checkout').on('submit',function(){
                if($('input[name="card"]')[0].value.length!=16){
                    Swal.fire({
                        position: 'center',
                        icon: 'warning',
                        title: 'Enter Valid card number!',
                        showConfirmButton: false,
                        timer: 1000
                    })
                    return false
                }
                else if($.isNumeric($('input[name="cvv"]')[0].value) == false || $('input[name="cvv"]')[0].value.length !=3){
                    Swal.fire({
                        position: 'center',
                        icon: 'warning',
                        title: 'Enter Valid CVV!',
                        showConfirmButton: false,
                        timer: 1000
                    })
                    return false
                }
            })
        })
    </script>
</body>

</html>